<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" >

        <link rel="stylesheet" href="../style.css">
    </head>

    <body>

        <header>

            <section class="wrapper">
                <nav>
                    <!-- Just an image -->
                    <nav class="navbar-brand">
                        <a class="navbar-brand" href="/">
                            <img src="imagenesmejoradas/img/fondo copia.png" width="120" height="120" alt="">
                        </a>
                    </nav>
                    <ul>
                        <li><a th:href="@{/login}">Inicio Sesión</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Categorías
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/belleza">Belleza y Cuidado Personal</a></li>
                                <li><a class="dropdown-item" href="/gatronomia">Gastronomía</a></li>
                                <li><a class="dropdown-item" href="/hogar">Hogar y Construcción</a></li>
                                <li><a class="dropdown-item" href="/salud">Salud</a></li>
                                <li><a class="dropdown-item" href="/mascotas">Mascotas</a></li>
                                <li><a class="dropdown-item" href="/otrosservicios">Otros Servicios</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        <li><a href="#">Contactenos!</a></li>
                    </ul>
                </nav>
            </section>
        </header>

        <form th:action="@{/usuario/form}" method="POST">
            <h1 th:if="${exito != null}" th:text="${exito}" class="text-success"></h1>
            <h1 th:if="${error!= null}" th:text="${error}" class="text-danger"></h1>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Nombre</label>
                <input th:text="${nombre}" type="text" name="nombre" class="form-control" id="formGroupExampleInput"
                    placeholder="Nombre...">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Apellido</label>
                <input th:text="${apellido}" type="text" name="apellido" class="form-control" id="formGroupExampleInput2"
                    placeholder="Apellido...">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput3" class="form-label">Email</label>
                <input th:text="${email}" type="text" name="email" class="form-control" id="formGroupExampleInput3"
                    placeholder="Email...">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput4" class="form-label">Contraseña</label>
                <input th:text="${password}" type="password" name="password" class="form-control" id="formGroupExampleInput4"
                    placeholder="Contraseña...">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput5" class="form-label">Confirmar Contraseña</label>
                <input th:text="${confirmarPassword}" type="password" name="confirmarPassword" class="form-control"
                    id="formGroupExampleInput5" placeholder="Confirmar contraseña...">
            </div>


            <button id="colorbotonform" class="btn btn-success">Crear</button>
            <a id="btvolv" class="btn btn-primary m-1" th:href="@{/}" role="button">Volver</a>
        </form>

        <!-- end ourwork -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
                integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>

    </body>

</html>