<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MultiOficios</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./style1.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>



</head>

<body>
  <!--Navegador-------------------------------------------------------------------------------------------------------------------->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css" />
  <nav class="nav">
    <nav class="navbar-brand">
      <a class="navbar-brand" href="#">
        <img src="img/M.png" alt="">
      </a>
    </nav>
    <button class="nav-toggle" aria-label="Abrir menú">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav__menu ml-auto">
      <li class="nav__menu-item" th:if="${session.usuariosession == null}"><a th:href="@{/usuario/form}">Registrarse</a>
      </li>
      <li class="nav__menu-item" th:if="${session.usuariosession == null}"><a th:href="@{/login}">Ingresar</a></li>
      <li class="nav__menu-item" th:if="${session.usuariosession != null}"><a th:href="@{/zona/perfil(id=__${session.usuariosession.id}__)}">Perfil</a></li>
      <li class="nav__menu-item" th:if="${session.usuariosession != null}"><a th:href="@{/logout}">Salir</a></li>
      <li class="nav__menu-item" th:if="${session.usuariosession != null}"><a
          th:href="@{/listarPublicaciones}">Servicios Publicaciones</a></li>
           <li class="nav__menu-item" sec:authorize="hasAnyRole('ROLE_ADMIN')"><a
          th:href="@{/usuario/listarUsuarios}">Servicios Usuarios</a></li>
      <li class="nav__menu-item"><a>Sobre Nosotros</a>
      </li>
      <li class="nav__menu-item" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"><a>Contactenos!</a>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Formulario de consulta</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body"><h5>Escríbenos y en breve nos pondremos en contacto contigo</h5>
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Nombre</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Email</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>

                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Mensaje:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <!--Fin Navegador----------------------------------------------------------------------------------------------------------->




  <!--Fondo y caja de Bienvenida---------------------------------------------------------------------------------------------->
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
    <h2> Bienvenidos a Multioficios!</h2>
    <h2> En multioficios contamos con una amplia gama de servicios en todo el territorio nacional.
      Buscamos brindarte la comodidad de ofrecer tus servicios y/o contratarlos segun tu zona, garantizandote
      profesionalismo y seguridad.</h2>

  </div>

  <!--Fin Fondo y caja de Bienvenida------------------------------------------------------------------------------------------>




  <!--pregunta antes de carousel-------------------------------------------------------------------------------------------->
  <div class="pregunta">

    <p id="texto"> ¿Qué encontarás en nuestra página? </p>

  </div>
  <!--fin pregunta antes de carousel----------------------------------------------------------------------------------------->




  <!--carousel---------------------------------------------------------------------------------------------------------------->
  <div class='slider'>
    <input checked id='slide-1' name='active' type='radio'>
    <div class='slide'> <img src="img/1.png" alt=""></div>
    <nav class='navl'>
      <label class='prev' for='slide-8'></label>
      <label class='next' for='slide-2'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>



    <input id='slide-2' name='active' type='radio'>
    <div class='slide'> <img src="img/2.png" alt=""></div>
    <nav class='navl'>
      <label class='prev' for='slide-1'></label>
      <label class='next' for='slide-3'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>



    <input id='slide-3' name='active' type='radio'>
    <div class='slide'> <img src="img/3.png" alt=""></div>
    <nav class='navl'>
      <label class='prev' for='slide-2'></label>
      <label class='next' for='slide-4'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>



    <input id='slide-4' name='active' type='radio'>
    <div class='slide'> <img src="img/4.png" alt=""></div>
    <nav class='navl'>
      <label class='prev' for='slide-3'></label>
      <label class='next' for='slide-5'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>



    <input id='slide-5' name='active' type='radio'>
    <div class='slide'> <img src="img/5.png" alt=""></div>
    <nav class='navl'>
      <label class='prev' for='slide-4'></label>
      <label class='next' for='slide-6'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>



    <input id='slide-6' name='active' type='radio'>
    <div class='slide'> <img src="img/6.png" alt=""></div>
    <nav class='navl'>
      <label class='prev' for='slide-5'></label>
      <label class='next' for='slide-7'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>


    <input id='slide-7' name='active' type='radio'>
    <div class='slide'> <img src="img/7.png" alt=""></div>
    <nav class='navl'>
      <label class='prev' for='slide-6'></label>
      <label class='next' for='slide-8'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>



    <input id='slide-8' name='active' type='radio'>
    <div class='slide'> <img src="img/8.png" alt=""> </div>
    <nav class='navl'>
      <label class='prev' for='slide-7'></label>
      <label class='next' for='slide-1'></label>
    </nav>
    <nav class='dots'>
      <label class='dot' for='slide-1'></label>
      <label class='dot' for='slide-2'></label>
      <label class='dot' for='slide-3'></label>
      <label class='dot' for='slide-4'></label>
      <label class='dot' for='slide-5'></label>
      <label class='dot' for='slide-6'></label>
      <label class='dot' for='slide-7'></label>
      <label class='dot' for='slide-8'></label>
    </nav>
  </div>
  <!--fin carousel------------------------------------------------------------------------------------------------------------>





  <!--caja de botones---------------------------------------------------------------------------------------------------------->
  <div class="content3">

    <h2 th:if="${session.usuariosession == null}"> Registrate</h2>
    <h2>Y empeza tu busqueda a un nuevo mundo laboral</h2>
    <div class="buttons">
      <div class="container">
        <a th:href="@{/usuario/form}" class="btn effect01" target="_blank">Registrarme</a>
      </div>
    </div>
    <h2>Si quieres conocer más de nuestra página da click a:</h2>
    <div class="buttons">
      <div class="container">
        <a href="https://twitter.com/masuwa1018" class="btn effect01" target="_blank"><span>Sobre Nosotros</span></a>
      </div>
    </div>




  </div>
  <!--fin caja de botones----------------------------------------------------------------------------------------------------->






  <!--Testimonios----------------------------------------------------------------------------------------------------------------------------->

  <div class="content2">
    <section>
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-xl-8 text-center">
          <h3 class="mb-4">Nuestros Testimonios!!!</h3>

        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="nuevo/img/social.png" class="rounded-circle shadow-1-strong" />
          </div>
          <h5 class="mb-3">Maria</h5>
          <h6 class="text-primary mb-3">Peluquera</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>He conseguido muchos clientes cerca de casa lo cual beneficia mi
            bolsillo en trasporte!
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star-half-alt fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="nuevo/img/social.png" class="rounded-circle shadow-1-strong" />
          </div>
          <h5 class="mb-3">Lisa</h5>
          <h6 class="text-primary mb-3">Pastelera</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i>Feliz de poder ofrecer mi trabajo! Muchos pedidos a delivery empece a
            conseguir luego de postularme.
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
        <div class="col-md-4 mb-0">
          <div class="d-flex justify-content-center mb-4">
            <img src="nuevo/img/social.png" class="rounded-circle shadow-1-strong" />
          </div>
          <h5 class="mb-3">Juan</h5>
          <h6 class="text-primary mb-3">Cliente</h6>
          <p class="px-xl-3">
            <i class="fas fa-quote-left pe-2"></i> Consegui alguien confiable para pasear a Coquito! Estoy muy
            Agradecido :)
          </p>
          <ul class="list-unstyled d-flex justify-content-center mb-0">
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="fas fa-star fa-sm text-warning"></i>
            </li>
            <li>
              <i class="far fa-star fa-sm text-warning"></i>
            </li>
          </ul>
        </div>
      </div>
    </section>

  </div>
  <!--Fin Testimonios------------------------------------------------------------------------------------------------------------------------->



  <!--redes sociales--------------------------------------------------------------------------------------------------------------------------->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <nav class="social">

    <ul>
      <li><a href="#">Twitter <i class="fa fa-twitter"></i></a></li>
      <li><a href="#">Github <i class="fa fa-github"></i></a></li>
      <li><a href="#">Linkedin <i class="fa fa-linkedin"></i></a></li>
    </ul>
  </nav>
  <!--fin redes sociales---------------------------------------------------------------------------------------------------------------------->





  <!--footer---------------------------------------------------------------------------------------------------------------------------------->
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>MULTI<span>Oficios</span></h3>

      <p class="footer-links">
        <a href="#" class="link-1">Home</a>

        <a href="#">Blog</a>


        <a href="#">About</a>

        <a href="#">Faq</a>

        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">Equipo 4 - Comisión "A" © 2021/2022</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>742 Avenida Siempreviva.</span> Springfield</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+1.444.444.444</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="multioficiossupport@gmail.com">support@company.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        Red profesional.
        Web que conecta a empleadosy empleadores.
      </p>

      <div class="footer-icons">



      </div>

    </div>

  </footer>
  <!--fin footer---------------------------------------------------------------------------------------------------------------------------->






</body>

</html>